<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="tableviewhead" th:remove="tag">
	<!-- TableView js-->
	<script th:src="@{/tableview/js/tableview.js}"></script>
	<!-- treeview css-->
	<link rel="stylesheet" th:href="@{/tableview/css/tableview.css}" />
</head>



<div th:fragment="tableviewfragment(tableID)" th:remove="tag">
	<div class="tableviewwrapper">
		<table th:id="${tableID}">
		</table>
	</div>
</div>

</html>